*{
  font-family: "sans-serif";
}
.main-container{
  background-color: rgb(149, 201, 247);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}